
body {
	overflow-y: hidden;
}
	
#chart-area svg {
	display: flex;
	justify-content: center;
	align-items: center;
}

#chart-area {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: hidden;
	height: 600px;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}